#entrees {
    -moz-animation-duration : 4s ;
    -webkit-animation-duration : 4s ;
  animation-duration : 4s ;
    -moz-animation-iteration-count : 1 ;
    -webkit-animation-iteration-count : 1 ;
  animation-iteration-count : 1 ;
    -moz-animation-direction : normal ;
    -webkit-animation-direction : normal ;
  animation-direction : normal ;
    -moz-animation-name : entrees ;
    -webkit-animation-name : entrees ;
  animation-name : entrees ;
    -moz-transition-property : bottom, top ;
    -webkit-transition-property : bottom, top ;
  transition-property : bottom, top ;
    -moz-animation-timing-function : ease-in ;
    -webkit-animation-timing-function : ease-in ;
  animation-timing-function : ease-in ;
    -moz-animation-fill-mode : both ;
    -webkit-animation-fill-mode : both ;
  animation-fill-mode : both ;

  @keyframes entrees {
    from {
      margin-top : 100%;
      opacity : 0 ;
    }
    to {
      margin-top : 0% ; 
      opacity : 1 ; 
    }
  }
}

.entrees {
    -moz-animation-duration : 4s ;
    -webkit-animation-duration : 4s ;
  animation-duration : 4s ;
    -moz-animation-iteration-count : 1 ;
    -webkit-animation-iteration-count : 1 ;
  animation-iteration-count : 1 ;
    -moz-animation-direction : normal ;
    -webkit-animation-direction : normal ;
  animation-direction : normal ;
    -moz-animation-name : entrees_contenu ;
    -webkit-animation-name : entrees_contenu ;
  animation-name : entrees_contenu ;
    -moz-transition-property : bottom, top ;
    -webkit-transition-property : bottom, top ;
  transition-property : bottom, top ;
    -moz-animation-timing-function : ease-in ;
    -webkit-animation-timing-function : ease-in ;
  animation-timing-function : ease-in ;
    -moz-animation-fill-mode : both ;
    -webkit-animation-fill-mode : both ;
  animation-fill-mode : both ;
    -moz-animation-delay : 1s ; 
    -webkit-animation-delay : 1s ; 
  animation-delay : 1s ; 

  @keyframes entrees_contenu {
    from {
      margin-top : 100%;
      opacity : 0 ; 
    }
    to {
      margin-top : 0% ; 
      opacity : 1 ; 
    }
  }
}

#plats {
    -moz-animation-duration : 4s ;
    -webkit-animation-duration : 4s ;
  animation-duration : 4s ;
    -moz-animation-iteration-count : 1 ;
    -webkit-animation-iteration-count : 1 ;
  animation-iteration-count : 1 ;
    -moz-animation-direction : normal ;
    -webkit-animation-direction : normal ;
  animation-direction : normal ;
    -moz-animation-name : plats ;
    -webkit-animation-name : plats ;
  animation-name : plats ;
    -moz-transition-property : bottom, top ;
    -webkit-transition-property : bottom, top ;
  transition-property : bottom, top ;
    -moz-animation-timing-function : ease-in ;
    -webkit-animation-timing-function : ease-in ;
  animation-timing-function : ease-in ;
    -moz-animation-fill-mode : both ;
    -webkit-animation-fill-mode : both ;
  animation-fill-mode : both ;
    -moz-animation-delay : 4s ; 
    -webkit-animation-delay : 4s ; 
  animation-delay : 4s ; 

  @keyframes plats {
    from {
      margin-top : 100%;
      opacity : 0 ; 
    }
    to {
      margin-top : 0% ; 
      opacity : 1 ; 
    }
  }
}

.plats {
    -moz-animation-duration : 4s ;
    -webkit-animation-duration : 4s ;
  animation-duration : 4s ;
    -moz-animation-iteration-count : 1 ;
    -webkit-animation-iteration-count : 1 ;
  animation-iteration-count : 1 ;
    -moz-animation-direction : normal ;
    -webkit-animation-direction : normal ;
  animation-direction : normal ;
    -moz-animation-name : plats_contenu ;
    -webkit-animation-name : plats-contenu ;
  animation-name : plats_contenu ;
    -moz-transition-property : bottom, top ;
    -webkit-transition-property : bottom, top ;
  transition-property : bottom, top ;
    -moz-animation-timing-function : ease-in ;
    -webkit-animation-timing-function : ease-in ;
  animation-timing-function : ease-in ;
    -moz-animation-fill-mode : both ;
    -webkit-animation-fill-mode : both ;
  animation-fill-mode : both ;
    -moz-animation-delay : 5s ; 
    -webkit-animation-delay : 5s ; 
  animation-delay : 5s ; 
  
  @keyframes plats_contenu {
    from {
      margin-top : 100%;
      opacity : 0 ; 
    }
    to {
      margin-top : 0% ; 
      opacity : 1 ; 
    }
  }
}

#desserts { 
    -moz-animation-duration : 4s ;
    -webkit-animation-duration : 4s ;
  animation-duration : 4s ;
    -moz-animation-iteration-count : 1 ;
    -webkit-animation-iteration-count : 1 ;
  animation-iteration-count : 1 ;
    -moz-animation-direction : normal ;
    -webkit-animation-direction : normal ;
  animation-direction : normal ;
    -moz-animation-name : desserts ;
    -webkit-animation-name : desserts ;
  animation-name : desserts ;
    -moz-transition-property : bottom, top ;
    -webkit-transition-property : bottom, top ;
  transition-property : bottom, top ;
    -moz-animation-timing-function : ease-in ;
    -webkit-animation-timing-function : ease-in ;
  animation-timing-function : ease-in ;
    -moz-animation-fill-mode : both ;
    -webkit-animation-fill-mode : both ;
  animation-fill-mode : both ;
    -moz-animation-delay : 8s ; 
    -webkit-animation-delay : 8s ; 
  animation-delay : 8s ; 
  
  @keyframes desserts {
    from {
      margin-top : 100%;
      opacity : 0 ;
    }
    to {
      margin-top : 0% ;
      opacity : 1 ;  
    }
  }
}

.desserts {
    -moz-animation-duration : 4s ;
    -webkit-animation-duration : 4s ;
  animation-duration : 4s ;
    -moz-animation-iteration-count : 1 ;
    -webkit-animation-iteration-count : 1 ;
  animation-iteration-count : 1 ;
    -moz-animation-direction : normal ;
    -webkit-animation-direction : normal ;
  animation-direction : normal ;
    -moz-animation-name : desserts_contenu ;
    -webkit-animation-name : desserts_contenu ;
  animation-name : desserts_contenu ;
    -moz-transition-property : bottom, top ;
    -webkit-transition-property : bottom, top ;
  transition-property : bottom, top ;
    -moz-animation-timing-function : ease-in ;
    -webkit-animation-timing-function : ease-in ;
  animation-timing-function : ease-in ;
    -moz-animation-fill-mode : both ;
    -webkit-animation-fill-mode : both ;
  animation-fill-mode : both ;
    -moz-animation-delay : 9s ; 
    -webkit-animation-delay : 9s ; 
  animation-delay : 9s ; 

  @keyframes desserts_contenu {
    from {
      margin-top : 100%;
      opacity : 0 ; 
    }
    to {
      margin-top : 0% ; 
      opacity : 1 ; 
    }
  }
}

@media (min-width: map-get($breakpoints, tablette)) {
  #entrees {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : entrees ;
      -webkit-animation-name : entrees ;
    animation-name : entrees ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;

    @keyframes entrees {
      from {
        margin-top : 100%;
        opacity : 0 ;
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }

  .entrees {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : entrees_contenu ;
      -webkit-animation-name : entrees_contenu ;
    animation-name : entrees_contenu ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 1s ; 
      -webkit-animation-delay : 1s ; 
    animation-delay : 1s ; 

    @keyframes entrees_contenu {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }   
    }
  }

  #plats {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : plats ;
      -webkit-animation-name : plats ;
    animation-name : plats ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 4s ; 
      -webkit-animation-delay : 4s ; 
    animation-delay : 4s ; 

    @keyframes plats {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }

  .plats {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : plats_contenu ;
      -webkit-animation-name : plats-contenu ;
    animation-name : plats_contenu ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 5s ; 
      -webkit-animation-delay : 5s ; 
    animation-delay : 5s ; 

    @keyframes plats_contenu {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }

  #desserts { 
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : desserts ;
      -webkit-animation-name : desserts ;
    animation-name : desserts ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 8s ; 
      -webkit-animation-delay : 8s ; 
    animation-delay : 8s ; 

    @keyframes desserts {
      from {
        margin-top : 100%;
        opacity : 0 ;
      }
      to {
        margin-top : 0% ;
        opacity : 1 ;  
      }
    }
  }

  .desserts {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : desserts_contenu ;
      -webkit-animation-name : desserts_contenu ;
    animation-name : desserts_contenu ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 9s ; 
      -webkit-animation-delay : 9s ; 
    animation-delay : 9s ; 

    @keyframes desserts_contenu {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
  #entrees {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : entrees ;
      -webkit-animation-name : entrees ;
    animation-name : entrees ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;

    @keyframes entrees {
      from {
        margin-top : 100%;
        opacity : 0 ;
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }

  .entrees {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : entrees_contenu ;
      -webkit-animation-name : entrees_contenu ;
    animation-name : entrees_contenu ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 1s ; 
      -webkit-animation-delay : 1s ; 
    animation-delay : 1s ; 

    @keyframes entrees_contenu {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }

  #plats {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : plats ;
      -webkit-animation-name : plats ;
    animation-name : plats ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 2s ; 
      -webkit-animation-delay : 2s ; 
    animation-delay : 2s ; 

    @keyframes plats {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }

  .plats {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : plats_contenu ;
      -webkit-animation-name : plats-contenu ;
    animation-name : plats_contenu ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 3s ; 
      -webkit-animation-delay : 3s ; 
    animation-delay : 3s ; 

    @keyframes plats_contenu {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  }

  #desserts { 
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : desserts ;
      -webkit-animation-name : desserts ;
    animation-name : desserts ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 4s ; 
      -webkit-animation-delay : 4s ; 
    animation-delay : 4s ; 

    @keyframes desserts {
      from {
        margin-top : 100%;
        opacity : 0 ;
      }
      to {
        margin-top : 0% ;
        opacity : 1 ;  
      }
    }
  }

  .desserts {
      -moz-animation-duration : 4s ;
      -webkit-animation-duration : 4s ;
    animation-duration : 4s ;
      -moz-animation-iteration-count : 1 ;
      -webkit-animation-iteration-count : 1 ;
    animation-iteration-count : 1 ;
      -moz-animation-direction : normal ;
      -webkit-animation-direction : normal ;
    animation-direction : normal ;
      -moz-animation-name : desserts_contenu ;
      -webkit-animation-name : desserts_contenu ;
    animation-name : desserts_contenu ;
      -moz-transition-property : bottom, top ;
      -webkit-transition-property : bottom, top ;
    transition-property : bottom, top ;
      -moz-animation-timing-function : ease-in ;
      -webkit-animation-timing-function : ease-in ;
    animation-timing-function : ease-in ;
      -moz-animation-fill-mode : both ;
      -webkit-animation-fill-mode : both ;
    animation-fill-mode : both ;
      -moz-animation-delay : 5s ; 
      -webkit-animation-delay : 5s ; 
    animation-delay : 5s ; 

    @keyframes desserts_contenu {
      from {
        margin-top : 100%;
        opacity : 0 ; 
      }
      to {
        margin-top : 0% ; 
        opacity : 1 ; 
      }
    }
  } 
}