@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 12px;
  color: #000000;
}

.container {
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1394px;
    background-color: #ffffff;
  }
}

.btn_explorer {
  color: #ffffff;
  text-align: center;
  -webkit-background: linear-gradient(to right bottom, #ff79da, #9356dc);
  -moz-background: linear-gradient(to right bottom, #ff79da, #9356dc);
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  font-size: 18px;
  width: 230px;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 3px #eaeaea;
  border-radius: 30px;
  padding: 17px 0px;
  margin: 4% 30% 8%;
  position: relative;
  transition: opacity 0.2s ease-out;
}
@media (min-width: 767px) {
  .btn_explorer {
    margin: 4% 45%;
  }
}
@media screen and (min-width: 1000px) {
  .btn_explorer {
    margin: 3% 45%;
  }
}
.btn_explorer:hover {
  cursor: pointer;
}
.btn_explorer:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}
.btn_explorer span {
  position: relative;
  z-index: 1;
}
.btn_explorer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: -webkit-linear-gradient(to left bottom, #fface8, #ae80e5);
  background: -moz-linear-gradient(to left bottom, #fface8, #ae80e5);
  background: linear-gradient(to left bottom, #fface8, #ae80e5);
  box-shadow: 3px 3px 3px #919191;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: transform, 0.2s;
  -moz-transition: transform, 0.2s;
  transition: transform 0.2s;
}

.favori {
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
}
.favori .fa-heart {
  color: transparent;
  position: absolute;
  inset: 0px;
  font-size: 30px;
  text-align: center;
}
.favori .fa-heart:hover {
  cursor: pointer;
}
.favori .far {
  transition: all 1.5s linear;
  z-index: 2;
  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.favori .fas {
  transition: 1s ease-in-out;
  font-size: 30px;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: bottom;
  transform: scale(0);
  z-index: 1;
}
.favori:hover .fas {
  transform: scale(1);
}
.favori:hover .far {
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn_commander {
  color: #ffffff;
  text-align: center;
  -webkit-background: linear-gradient(to right bottom, #ff79da, #9356dc);
  -moz-background: linear-gradient(to right bottom, #ff79da, #9356dc);
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 3px 3px 3px #eaeaea;
  margin: 1% 26% 20% 26%;
  padding: 15px 50px;
  position: relative;
  transition: opacity 0.2s ease-out;
}
@media (min-width: 767px) {
  .btn_commander {
    margin: 1% 40% 10% 40%;
  }
}
@media screen and (min-width: 1000px) {
  .btn_commander {
    margin: 3% 45%;
  }
}
.btn_commander:hover {
  cursor: pointer;
}
.btn_commander:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}
.btn_commander span {
  position: relative;
  z-index: 1;
}
.btn_commander::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: -webkit-linear-gradient(to left bottom, #fface8, #ae80e5);
  background: -moz-linear-gradient(to left bottom, #fface8, #ae80e5);
  background: linear-gradient(to left bottom, #fface8, #ae80e5);
  box-shadow: 3px 3px 3px #919191;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: transform, 0.2s;
  -moz-transition: transform, 0.2s;
  transition: transform 0.2s;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
header .container {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}
@media screen and (min-width: 1000px) {
  header .container {
    width: 1394px;
    margin-top: 10px;
  }
}
header .fa-arrow-left {
  position: absolute;
  color: #000000;
  font-size: 20px;
  margin: 20px;
}
header #logo_header {
  width: 40%;
  display: block;
  margin: 10px auto;
}
@media screen and (min-width: 1000px) {
  header #logo_header {
    width: 30%;
  }
}
header #photo_header {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  header #photo_header {
    height: 300px;
  }
}
header .restaurant_nom {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  padding-top: 20px;
  z-index: 2;
  top: 250px;
}
@media (min-width: 767px) {
  header .restaurant_nom {
    top: 260px;
  }
}
@media screen and (min-width: 1000px) {
  header .restaurant_nom {
    background-color: #ffffff;
    border-radius: 30px;
    width: 40%;
    top: 350px;
    left: 570px;
  }
}
header .restaurant_nom h1 {
  width: 80%;
  padding-left: 10px;
  font-family: "Shrikhand", "cursive";
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}
@media (min-width: 767px) {
  header .restaurant_nom h1 {
    text-align: center;
    line-height: 20px;
    width: 70%;
  }
}
@media screen and (min-width: 1000px) {
  header .restaurant_nom h1 {
    width: 80%;
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
  }
}
header .restaurant_nom .favori {
  position: absolute;
  top: 45px;
  right: 40px;
}

footer {
  font-size: 18px;
  color: #eaeaea;
  background-color: #353535;
  padding: 10px 0;
}
@media (min-width: 767px) {
  footer {
    font-size: 20px;
  }
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 97%;
  align-items: flex-start;
  background-color: #353535;
  margin-left: 10px;
  line-height: 30px;
}
@media (min-width: 767px) {
  footer .container {
    width: 100%;
    align-items: center;
    line-height: 35px;
    margin-left: 0;
  }
}
footer .container div {
  margin-left: 10px;
}
@media screen and (min-width: 1000px) {
  footer .container div {
    margin: 0;
  }
}
footer .container .ohmyfood_footer {
  filter: invert(100%);
  width: 30%;
  margin: 10px;
}
@media screen and (min-width: 1000px) {
  footer .container .ohmyfood_footer {
    width: 15%;
    margin: 1% auto;
  }
}
footer .container .footer_liste {
  font-weight: bold;
}
footer .container .footer_liste .fa-utensils {
  color: #eaeaea;
  font-size: 15px;
}
footer .container .footer_liste .fa-hands-helping {
  color: #eaeaea;
  font-size: 10px;
}
footer .container a {
  color: #d7d7d7;
  text-decoration: none;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  align-items: flex-start;
  margin: 30px 0px;
}
@media (min-width: 767px) {
  #fonctionnement {
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1000px) {
  #fonctionnement {
    align-items: center;
    margin: 10px;
  }
}
#fonctionnement h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}
@media screen and (min-width: 1000px) {
  #fonctionnement h2 {
    margin: 10px;
  }
}
#fonctionnement .fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  #fonctionnement .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
#fonctionnement .categorie {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  #fonctionnement .categorie {
    width: 35%;
  }
}
#fonctionnement .categorie .nombre {
  background-color: #9356dc;
  color: #ffffff;
  clip-path: circle(40%);
  padding: 15px;
  position: absolute;
  z-index: 1;
  left: 25px;
}
@media (min-width: 767px) {
  #fonctionnement .categorie .nombre {
    left: 120px;
  }
}
@media screen and (min-width: 1000px) {
  #fonctionnement .categorie .nombre {
    left: 75px;
  }
}
#fonctionnement .categorie .fonctionnement_description {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 2px 3px 7px #eaeaea;
  border-radius: 25px;
  width: 80%;
  margin: 10px;
  padding: 30px 0px 30px 90px;
  z-index: 0;
}
@media (min-width: 767px) {
  #fonctionnement .categorie .fonctionnement_description {
    width: 60%;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 1000px) {
  #fonctionnement .categorie .fonctionnement_description {
    padding: 20px 0px 20px 80px;
  }
}
#fonctionnement .categorie .fonctionnement_description:hover {
  cursor: pointer;
  background-color: #f2eafb;
  color: #000000;
}
#fonctionnement .categorie .fonctionnement_description:hover .fa-mobile-alt,
#fonctionnement .categorie .fonctionnement_description:hover .fa-list-ul,
#fonctionnement .categorie .fonctionnement_description:hover .fa-store {
  color: #6c27be;
}
#fonctionnement .categorie .fonctionnement_description .fa-mobile-alt,
#fonctionnement .categorie .fonctionnement_description .fa-list-ul,
#fonctionnement .categorie .fonctionnement_description .fa-store {
  position: absolute;
  z-index: 1;
  font-size: 20px;
  left: 45px;
  top: 25px;
  color: #7d7d7d;
}
@media screen and (min-width: 1000px) {
  #fonctionnement .categorie .fonctionnement_description .fa-mobile-alt,
#fonctionnement .categorie .fonctionnement_description .fa-list-ul,
#fonctionnement .categorie .fonctionnement_description .fa-store {
    left: 35px;
    top: 16px;
  }
}

#accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  border-top: solid 3px #d1d1d1;
}
#accueil .localisation {
  background-color: #eaeaea;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 20px;
}
#accueil .localisation .fa-map-marker-alt {
  color: #000000;
  margin-right: 10px;
  margin-left: 80px;
}
#accueil .localisation #search {
  background-color: #eaeaea;
  color: #000000;
  font-weight: bold;
  border: none;
}
#accueil .localisation #search:focus-visible {
  outline: none;
}
#accueil h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  width: 70%;
  padding: 20px;
}
@media (min-width: 767px) {
  #accueil h1 {
    line-height: 20px;
    width: 70%;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1000px) {
  #accueil h1 {
    padding: 0;
  }
}
#accueil p {
  font-size: 20px;
  width: 90%;
  text-align: center;
  line-height: 25px;
}
@media (min-width: 767px) {
  #accueil p {
    width: 70%;
  }
}
@media screen and (min-width: 1000px) {
  #accueil p {
    width: 30%;
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  align-items: flex-start;
  padding: 50px 25px;
}
@media screen and (min-width: 1000px) {
  #restaurants {
    align-items: center;
    border-radius: 20px;
    margin-bottom: 15px;
  }
}
#restaurants h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
#restaurants .liste_restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}
@media (min-width: 767px) {
  #restaurants .liste_restaurants {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
  }
}
@media screen and (min-width: 1000px) {
  #restaurants .liste_restaurants {
    flex-wrap: nowrap;
  }
}
#restaurants .liste_restaurants .restaurant {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px auto;
  width: 100%;
  height: 270px;
  box-shadow: 2px 2px 3px #eaeaea;
}
@media (min-width: 767px) {
  #restaurants .liste_restaurants .restaurant {
    margin: 10px auto;
    width: 45%;
  }
}
@media screen and (min-width: 1000px) {
  #restaurants .liste_restaurants .restaurant {
    margin: 10px;
    width: 30%;
  }
}
#restaurants .liste_restaurants .restaurant:hover {
  box-shadow: 2px 2px 3px #9e9e9e;
  border-radius: 20px;
  padding-bottom: 10px;
}
#restaurants .liste_restaurants .restaurant a {
  text-decoration: none;
}
#restaurants .liste_restaurants .restaurant .restaurant_photo {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  z-index: 0;
}
#restaurants .liste_restaurants .restaurant .nouveau {
  color: #278870;
  background-color: #99e2d0;
  font-weight: bold;
  text-align: center;
  position: absolute;
  padding: 10px;
  z-index: 1;
  right: 15px;
  top: 15px;
}
#restaurants .liste_restaurants .restaurant .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#restaurants .liste_restaurants .restaurant .description .informations {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  width: 80%;
}
#restaurants .liste_restaurants .restaurant .description .informations h3,
#restaurants .liste_restaurants .restaurant .description .informations .lieu {
  font-size: 20px;
  margin: 5px 5px 10px 5px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
#restaurants .liste_restaurants .restaurant .description .informations h3 {
  font-weight: bold;
}

#menus {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 40px;
}
@media (min-width: 767px) {
  #menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1000px) {
  #menus {
    margin-top: 40px;
  }
}
#menus #entrees,
#menus #plats,
#menus #desserts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 40px 20px;
}
@media (min-width: 767px) {
  #menus #entrees,
#menus #plats,
#menus #desserts {
    width: 45%;
  }
}
@media screen and (min-width: 1000px) {
  #menus #entrees,
#menus #plats,
#menus #desserts {
    width: 30%;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px 15px;
  }
}
#menus #entrees h2,
#menus #plats h2,
#menus #desserts h2 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: normal;
  color: #646464;
  width: 50px;
  border-bottom: solid 3px #99e2d0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#menus #entrees .entrees,
#menus #entrees .plats,
#menus #entrees .desserts,
#menus #plats .entrees,
#menus #plats .plats,
#menus #plats .desserts,
#menus #desserts .entrees,
#menus #desserts .plats,
#menus #desserts .desserts {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px;
  border-radius: 20px;
  box-shadow: 4px 3px 5px #a09c9c;
  width: 90%;
}
@media (min-width: 767px) {
  #menus #entrees .entrees,
#menus #entrees .plats,
#menus #entrees .desserts,
#menus #plats .entrees,
#menus #plats .plats,
#menus #plats .desserts,
#menus #desserts .entrees,
#menus #desserts .plats,
#menus #desserts .desserts {
    margin: 10px auto;
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  #menus #entrees .entrees,
#menus #entrees .plats,
#menus #entrees .desserts,
#menus #plats .entrees,
#menus #plats .plats,
#menus #plats .desserts,
#menus #desserts .entrees,
#menus #desserts .plats,
#menus #desserts .desserts {
    justify-content: space-between;
  }
}
#menus #entrees .entrees .menu,
#menus #entrees .plats .menu,
#menus #entrees .desserts .menu,
#menus #plats .entrees .menu,
#menus #plats .plats .menu,
#menus #plats .desserts .menu,
#menus #desserts .entrees .menu,
#menus #desserts .plats .menu,
#menus #desserts .desserts .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1000px) {
  #menus #entrees .entrees .menu,
#menus #entrees .plats .menu,
#menus #entrees .desserts .menu,
#menus #plats .entrees .menu,
#menus #plats .plats .menu,
#menus #plats .desserts .menu,
#menus #desserts .entrees .menu,
#menus #desserts .plats .menu,
#menus #desserts .desserts .menu {
    padding-left: 10px;
  }
  #menus #entrees .entrees .menu:hover,
#menus #entrees .plats .menu:hover,
#menus #entrees .desserts .menu:hover,
#menus #plats .entrees .menu:hover,
#menus #plats .plats .menu:hover,
#menus #plats .desserts .menu:hover,
#menus #desserts .entrees .menu:hover,
#menus #desserts .plats .menu:hover,
#menus #desserts .desserts .menu:hover {
    margin-left: 0;
  }
}
#menus #entrees .entrees .menu h3,
#menus #entrees .plats .menu h3,
#menus #entrees .desserts .menu h3,
#menus #plats .entrees .menu h3,
#menus #plats .plats .menu h3,
#menus #plats .desserts .menu h3,
#menus #desserts .entrees .menu h3,
#menus #desserts .plats .menu h3,
#menus #desserts .desserts .menu h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px 0px 10px;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 10px 10px 10px 0;
}
#menus #entrees .entrees .menu .informations,
#menus #entrees .plats .menu .informations,
#menus #entrees .desserts .menu .informations,
#menus #plats .entrees .menu .informations,
#menus #plats .plats .menu .informations,
#menus #plats .desserts .menu .informations,
#menus #desserts .entrees .menu .informations,
#menus #desserts .plats .menu .informations,
#menus #desserts .desserts .menu .informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
#menus #entrees .entrees .menu .informations .supplement,
#menus #entrees .plats .menu .informations .supplement,
#menus #entrees .desserts .menu .informations .supplement,
#menus #plats .entrees .menu .informations .supplement,
#menus #plats .plats .menu .informations .supplement,
#menus #plats .desserts .menu .informations .supplement,
#menus #desserts .entrees .menu .informations .supplement,
#menus #desserts .plats .menu .informations .supplement,
#menus #desserts .desserts .menu .informations .supplement {
  font-size: 18px;
  color: #262626;
  padding: 2px 0px 4px 0px;
  margin-bottom: 3px;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#menus #entrees .entrees .menu .informations .prix,
#menus #entrees .plats .menu .informations .prix,
#menus #entrees .desserts .menu .informations .prix,
#menus #plats .entrees .menu .informations .prix,
#menus #plats .plats .menu .informations .prix,
#menus #plats .desserts .menu .informations .prix,
#menus #desserts .entrees .menu .informations .prix,
#menus #desserts .plats .menu .informations .prix,
#menus #desserts .desserts .menu .informations .prix {
  font-size: 20px;
  margin-right: 20px;
}

body #loading_spinner {
  background-color: #f7f7f7;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: loading_spinner;
  -webkit-animation-name: loading_spinner;
  animation-name: loading_spinner;
  -moz-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes loading_spinner {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  97% {
    opacity: 0.5;
  }
  98% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

#loading_spinner {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 800px;
  pointer-events: none;
}
#loading_spinner .primary {
  border-bottom: 7px solid #9356dc;
}
#loading_spinner .secondary {
  border-bottom: 7px solid #ff79da;
}
#loading_spinner .third {
  border-bottom: 7px solid #99e2d0;
}
#loading_spinner .arc {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  margin: 30%;
  border-radius: 50%;
}
@media (min-width: 767px) {
  #loading_spinner .arc {
    width: 200px;
    height: 200px;
    margin: 20% 40%;
  }
}
@media screen and (min-width: 1000px) {
  #loading_spinner .arc {
    width: 350px;
    height: 350px;
    margin: 7% 40%;
  }
}
#loading_spinner .arc:nth-child(1) {
  -moz-animation-name: rotate1;
  -webkit-animation-name: rotate1;
  animation-name: rotate1;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
#loading_spinner .arc:nth-child(2) {
  -moz-animation-name: rotate2;
  -webkit-animation-name: rotate2;
  animation-name: rotate2;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
#loading_spinner .arc:nth-child(3) {
  -moz-animation-name: rotate3;
  -webkit-animation-name: rotate3;
  animation-name: rotate3;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
#loading_spinner .arc:nth-child(1) {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
#loading_spinner .arc:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  -moz-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
#loading_spinner .arc:nth-child(3) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}
@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    opacity: 1;
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
    opacity: 0;
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    opacity: 1;
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
    opacity: 0;
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    opacity: 1;
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
    opacity: 0;
  }
}
#loading_spinner .ohmyfood {
  position: absolute;
  z-index: 5;
  width: 50%;
  top: 200px;
  left: 130px;
  opacity: 0;
  -moz-animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: logo;
  -webkit-animation-name: logo;
  animation-name: logo;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@media (min-width: 767px) {
  #loading_spinner .ohmyfood {
    width: 40%;
    top: 210px;
    left: 300px;
  }
}
@media screen and (min-width: 1000px) {
  #loading_spinner .ohmyfood {
    width: 25%;
    top: 260px;
    left: 700px;
  }
}
@keyframes logo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#entrees,
.entrees,
#plats,
.plats,
#desserts,
.desserts {
  -moz-animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: menu;
  -webkit-animation-name: menu;
  animation-name: menu;
  -moz-transition-property: bottom, top;
  -webkit-transition-property: bottom, top;
  transition-property: bottom, top;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes menu {
  from {
    margin-top: 10px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.entrees,
#plats {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.plats,
#desserts {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.desserts {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.entrees,
.plats,
.desserts {
  overflow: hidden;
}
.entrees:hover,
.plats:hover,
.desserts:hover {
  padding-left: 2.5px;
}
@media screen and (min-width: 1000px) {
  .entrees:hover,
.plats:hover,
.desserts:hover {
    padding-left: 0;
  }
}
.entrees .check-circle,
.plats .check-circle,
.desserts .check-circle {
  margin-right: -30px;
  margin-left: 10px;
}
.entrees:hover .check-circle,
.plats:hover .check-circle,
.desserts:hover .check-circle {
  cursor: pointer;
  -moz-transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  background-color: #99e2d0;
  border-radius: 0px 10px 10px 0px;
}
.entrees:hover .check-circle .fa-check-circle,
.plats:hover .check-circle .fa-check-circle,
.desserts:hover .check-circle .fa-check-circle {
  font-size: 25px;
  padding: 27px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -moz-transform: rotateZ(1turn);
  -webkit-transform: rotateZ(1turn);
  transform: rotateZ(1turn);
  -moz-transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

.fa-check-circle:before {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
