.empty {
    position : absolute ;
    color : $black_color ; 
    font-size : 40px ; 
    &:hover {
        opacity : 0 ; 
    }    
}

.full {
    position : absolute ;
    opacity : 0 ; 
    font-size : 40px ; 
    &:hover {
        cursor : pointer ; 
        position : absolute ; 
            background : -webkit-gradient(linear, left bottom, right top, from($secondary_color), to($primary_color));
            background : -moz-gradient(linear, left bottom, right top, from($secondary_color), to($primary_color));
        background : gradient(linear, left bottom, right top, from($secondary_color), to($primary_color));
            -webkit-background-clip : text ; 
            -moz-background-clip : text ;
        background-clip : text ;
            -webkit-text-fill-color : transparent ; 
            -moz-text-fill-color : transparent ; 
        color : transparent ;     
        opacity : 1 ; 
        transition: opacity 2s ease-in-out;
    }  
}
