#restaurants {
  @include flex-center-column ;
  background-color : $secondary_background;
  align-items : flex-start ;  
  padding : 50px 25px ;   
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    align-items : center ; 
    border-radius : 20px ;
    margin-bottom : 15px ; 
  }
    
  h2 { 
    font-size : $font-size1 ; 
    font-weight : bold ; 
    margin-bottom : 20px ; 
  }

  .liste_restaurants {
    @include flex-center-column ;
    margin : auto ; 
    width : 100% ; 
    @media (min-width: map-get($breakpoints, tablette)) {
      flex-direction : row ; 
      justify-content : space-around ; 
      flex-wrap : wrap ;
      padding : 10px 0px ; 
    }
    @media screen and (min-width: map-get($breakpoints, desktop)) {
      flex-wrap : nowrap ;
    }

    .restaurant {
      position : relative ; 
      background-color : $primary_background ;
      display : flex ;
      flex-wrap : nowrap ; 
      flex-direction : column ; 
      border-radius : 20px ;
      margin : 10px auto ;
      width : 100% ; 
      height : 270px ;
      box-shadow : 2px 2px 3px $very_light_grey ;
      @media (min-width: map-get($breakpoints, tablette)) {
        margin : 10px auto ;
        width : 45%
      }
      @media screen and (min-width: map-get($breakpoints, desktop)) {
        margin : $margin-m ; 
        width : 30% ; 
      }
       
      a {
        text-decoration : none ;
        @media screen and (min-width: map-get($breakpoints, tablette)) {
          &:hover {
            box-shadow : 2px 2px 5px darken(#f6f6f6, 30%) ;
            border-radius : 20px ; 
            padding-bottom : $padding-m ; 
          }
        }
      }
     
      .restaurant_photo {  
        object-fit: cover ;
        width : 100% ;
        height : 200px;    
        border-radius : 20px 20px 0px 0px;
        position : relative ; 
        z-index : 0 ;
      }
     
 
      .nouveau {
        color : darken($third_color, 40%) ;
        background-color : $third_color ; 
        font-weight : bold ; 
        text-align : center ; 
        position : absolute ; 
        padding : 10px ; 
        z-index : 1 ;
        right : 15px ;
        top : 15px ; 
      }
             
      .description {
        display : flex ;
        flex-direction : row ;
        justify-content : space-between ; 
        align-items : center ; 

        .informations {
          display : flex ; 
          flex-direction : column ; 
          flex-wrap : nowrap ; 
          margin : $margin-m ; 
          width : 80% ; 
              
          h3, .lieu {
            margin : 5px ;
            font-family : 'Roboto', sans-serif ; 
            color : #000000 ; 
          }
            
          h3 {
            font-size : 19px ; 
            font-weight : bold ; 
          }

          .lieu {
            font-size : 17px ;
            font-weight : normal ;  
          }

        }

      }
    }
  }  
}