.entrees, .plats, .desserts {
  overflow : hidden ; 
    -moz-transition : all 2s ease-out ;
    -webkit-transition : all 2s ease-out;
	transition : transform 2s ease-out;
  &:hover {
    cursor : pointer ;
    .fa-check-circle {
      font-size : 30px ; 
      padding : 15px ; 
        border-radius : 0px 10px 10px 0px ; 
      background-color : $third_color ; 
        -moz-transform: rotateZ(2turn) translate(0px,0px);
        -webkit-transform: rotateZ(2turn) translate(0px,0px);
      transform: rotateZ(2turn) translate(0px 0px) ;
        -moz-transition : transform 2s ease-out ; 
        -webkit-transition : transform 2s ease-out ;
      transition : transform 2s ease-out ; 
    }
  }
}