#entrees, .entrees, #plats, .plats, #desserts, .desserts {
    -moz-animation-duration : 0.5s ;
    -webkit-animation-duration : 0.5s ;
  animation-duration : 0.5s ;
    -moz-animation-iteration-count : 1 ;
    -webkit-animation-iteration-count : 1 ;
  animation-iteration-count : 1 ;
    -moz-animation-direction : normal ;
    -webkit-animation-direction : normal ;
  animation-direction : normal ;
    -moz-animation-name : menu ;
    -webkit-animation-name : menu ;
  animation-name : menu ;
    -moz-transition-property : bottom, top ;
    -webkit-transition-property : bottom, top ;
  transition-property : bottom, top ;
    -moz-animation-timing-function : ease-out ;
    -webkit-animation-timing-function : ease-out ;
  animation-timing-function : ease-out ;
    -moz-animation-fill-mode : both ;
    -webkit-animation-fill-mode : both ;
  animation-fill-mode : both ;

  @keyframes menu {
    from {
      margin-top : 10px;
      opacity : 0 ;
    }
    to {
      margin-top : 0 ; 
      opacity : 1 ; 
    }
  }
}

.entrees, #plats {
    -moz-animation-delay : 0.2s ; 
    -webkit-animation-delay : 0.2s ; 
  animation-delay : 0.2s ; 
}

.plats, #desserts {
    -moz-animation-delay : 0.4s ; 
    -webkit-animation-delay : 0.4s ; 
  animation-delay : 0.4s ; 
}

.desserts {
    -moz-animation-delay : 0.8s ; 
    -webkit-animation-delay : 0.8s ; 
  animation-delay : 0.8s ; 
} 


