.container {
  width: 1394px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 12px;
}

/*header*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
header .container {
  margin-top: 10px;
  background-color: #ffffff;
}
@media screen and (max-width: 1000px) {
  header .container {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  header .container {
    width: 100%;
    margin: 0;
  }
}
header .fa-arrow-left {
  position: absolute;
  color: #000000;
  font-size: 25px;
  margin: 10px 15px 25px 25px;
}
header #logo_header {
  width: 30%;
  margin: 0.5% 32%;
}
@media screen and (max-width: 1000px) {
  header #logo_header {
    width: 35%;
    margin: 2% 30%;
  }
}
@media (max-width: 767px) {
  header #logo_header {
    width: 35%;
    margin: 2% 30%;
  }
}
header #photo_header {
  object-fit: cover;
  position: relative;
  width: 33%;
  height: 300px;
  margin: 0% 30% auto;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  header #photo_header {
    width: 100%;
    margin: 0px;
  }
}
@media (max-width: 767px) {
  header #photo_header {
    width: 100%;
    margin: 0px;
  }
}
header .restaurant_nom {
  width: 466px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  position: absolute;
  padding-top: 10px;
  z-index: 2;
  margin-left: 415px;
  margin-top: -35px;
}
@media screen and (max-width: 1000px) {
  header .restaurant_nom {
    width: 100%;
    background-color: #f6f6f6;
    height: 50px;
    margin-left: 0px;
    border-radius: 30px 30px 0px 0px;
  }
}
@media (max-width: 767px) {
  header .restaurant_nom {
    width: 100%;
    background-color: #f6f6f6;
    height: 50px;
    margin-left: 0px;
    border-radius: 30px 30px 0px 0px;
  }
}
header .restaurant_nom h1 {
  padding-left: 10px;
  font-family: "Shrikhand", "cursive";
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1000px) {
  header .restaurant_nom h1 {
    text-align: center;
    line-height: 20px;
    width: 70%;
  }
}
@media (max-width: 767px) {
  header .restaurant_nom h1 {
    text-align: left;
    font-size: 28px;
    line-height: 0px;
    width: 80%;
    margin-left: 15px;
  }
}
header .restaurant_nom .fa-heart {
  font-size: 30px;
  color: #000000;
  padding-right: 30px;
}

#menus {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 15px;
}
@media screen and (max-width: 1000px) {
  #menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 0px;
  }
}
@media (max-width: 767px) {
  #menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 0px;
  }
}
#menus #entrees, #menus #plats, #menus #desserts {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px 15px;
}
@media screen and (max-width: 1000px) {
  #menus #entrees, #menus #plats, #menus #desserts {
    width: 80%;
    justify-content: center;
    margin: 0% 5%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  #menus #entrees, #menus #plats, #menus #desserts {
    width: 90%;
    justify-content: center;
    padding: 0;
  }
}
#menus #entrees h2, #menus #plats h2, #menus #desserts h2 {
  margin-left: 3.5px;
  font-size: 22px;
  width: 60px;
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 10px;
}
#menus #entrees .entrees, #menus #entrees .plats, #menus #entrees .desserts, #menus #plats .entrees, #menus #plats .plats, #menus #plats .desserts, #menus #desserts .entrees, #menus #desserts .plats, #menus #desserts .desserts {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 8px;
  border-radius: 10px;
  box-shadow: 4px 3px 5px #635d5d;
}
@media screen and (max-width: 1000px) {
  #menus #entrees .entrees, #menus #entrees .plats, #menus #entrees .desserts, #menus #plats .entrees, #menus #plats .plats, #menus #plats .desserts, #menus #desserts .entrees, #menus #desserts .plats, #menus #desserts .desserts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    border: 0px;
    box-shadow: none;
    margin: 8px auto;
  }
}
@media (max-width: 767px) {
  #menus #entrees .entrees, #menus #entrees .plats, #menus #entrees .desserts, #menus #plats .entrees, #menus #plats .plats, #menus #plats .desserts, #menus #desserts .entrees, #menus #desserts .plats, #menus #desserts .desserts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    box-shadow: none;
    margin: 8px auto;
  }
}
#menus #entrees .entrees .menu, #menus #entrees .plats .menu, #menus #entrees .desserts .menu, #menus #plats .entrees .menu, #menus #plats .plats .menu, #menus #plats .desserts .menu, #menus #desserts .entrees .menu, #menus #desserts .plats .menu, #menus #desserts .desserts .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: "....";
  -moz-text-overflow: "...";
  text-overflow: "...";
}
@media (max-width: 767px) {
  #menus #entrees .entrees .menu, #menus #entrees .plats .menu, #menus #entrees .desserts .menu, #menus #plats .entrees .menu, #menus #plats .plats .menu, #menus #plats .desserts .menu, #menus #desserts .entrees .menu, #menus #desserts .plats .menu, #menus #desserts .desserts .menu {
    padding: 0px;
  }
}
#menus #entrees .entrees .menu h3, #menus #entrees .plats .menu h3, #menus #entrees .desserts .menu h3, #menus #plats .entrees .menu h3, #menus #plats .plats .menu h3, #menus #plats .desserts .menu h3, #menus #desserts .entrees .menu h3, #menus #desserts .plats .menu h3, #menus #desserts .desserts .menu h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 0px 10px;
  overflow: hidden;
  -webkit-text-overflow: "...";
  -moz-text-overflow: "...";
  text-overflow: "...";
  padding: 2px 0px 17px 0px;
}
#menus #entrees .entrees .menu .informations, #menus #entrees .plats .menu .informations, #menus #entrees .desserts .menu .informations, #menus #plats .entrees .menu .informations, #menus #plats .plats .menu .informations, #menus #plats .desserts .menu .informations, #menus #desserts .entrees .menu .informations, #menus #desserts .plats .menu .informations, #menus #desserts .desserts .menu .informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px 10px 10px;
}
#menus #entrees .entrees .menu .informations .supplement, #menus #entrees .plats .menu .informations .supplement, #menus #entrees .desserts .menu .informations .supplement, #menus #plats .entrees .menu .informations .supplement, #menus #plats .plats .menu .informations .supplement, #menus #plats .desserts .menu .informations .supplement, #menus #desserts .entrees .menu .informations .supplement, #menus #desserts .plats .menu .informations .supplement, #menus #desserts .desserts .menu .informations .supplement {
  font-size: 18px;
  padding: 2px 0px 4px 0px;
  margin-bottom: 3px;
  font-weight: normal;
  overflow: hidden;
  white-space: hidden;
  -webkit-text-overflow: "...";
  -moz-text-overflow: "...";
  text-overflow: "...";
}
#menus #entrees .entrees .menu .informations .prix, #menus #entrees .plats .menu .informations .prix, #menus #entrees .desserts .menu .informations .prix, #menus #plats .entrees .menu .informations .prix, #menus #plats .plats .menu .informations .prix, #menus #plats .desserts .menu .informations .prix, #menus #desserts .entrees .menu .informations .prix, #menus #desserts .plats .menu .informations .prix, #menus #desserts .desserts .menu .informations .prix {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}
#menus #entrees .entrees .fa-check-circle, #menus #entrees .plats .fa-check-circle, #menus #entrees .desserts .fa-check-circle, #menus #plats .entrees .fa-check-circle, #menus #plats .plats .fa-check-circle, #menus #plats .desserts .fa-check-circle, #menus #desserts .entrees .fa-check-circle, #menus #desserts .plats .fa-check-circle, #menus #desserts .desserts .fa-check-circle {
  color: #ffffff;
}

.commander {
  color: #ffffff;
  text-align: center;
  -webkit-background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  -moz-background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 3px 3px 3px #e4dede;
  margin: 3% 45%;
  padding: 10px 20px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .commander {
    margin: 4% 40% 8%;
  }
}
@media (max-width: 767px) {
  .commander {
    margin: 4% 30% 8%;
  }
}
.commander:hover {
  cursor: pointer;
}
.commander:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  transform-origin: left;
}
.commander span {
  position: relative;
  z-index: 1;
}

.commander::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: -webkit-gradient(linear, left bottom, right top, from(#fface8), to(#ae80e5));
  background: -moz-gradient(linear, left bottom, right top, from(#fface8), to(#ae80e5));
  background: gradient(linear, left bottom, right top, from(#fface8), to(#ae80e5));
  box-shadow: 3px 3px 3px #947c7c;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  transform-origin: right;
  -webkit-transition: transform, 0.1s;
  -moz-transition: transform, 0.1s;
  transition: transform 0.1s;
}

/*footer*/
footer {
  font-size: 22px;
  line-height: 25px;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 0px;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 35px;
}
@media (max-width: 767px) {
  footer .container {
    width: 97%;
    align-items: flex-start;
    margin-left: 10px;
  }
}
footer .container h4 {
  font-family: "shrikhand", "cursive";
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px;
}
footer .container .footer_liste {
  font-weight: bold;
}
footer .container .footer_liste .fa-utensils, footer .container .footer_liste .fa-hands-helping {
  color: #ffffff;
}
footer .container a {
  color: #ffffff;
  text-decoration: none;
}

/*animations*/
.entrees, .plats, .desserts {
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.entrees:hover, .plats:hover, .desserts:hover {
  cursor: pointer;
}
.entrees:hover .fa-check-circle, .plats:hover .fa-check-circle, .desserts:hover .fa-check-circle {
  visibility: visible;
  font-size: 30px;
  padding: 15px;
  border-radius: 0px 10px 10px 0px;
  background-color: #99E2D0;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#entrees {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: entrees;
  -webkit-animation-name: entrees;
  animation-name: entrees;
  -moz-transition-property: bottom, top;
  -webkit-transition-property: bottom, top;
  transition-property: bottom, top;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes entrees {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

.entrees {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: entrees_contenu;
  -webkit-animation-name: entrees_contenu;
  animation-name: entrees_contenu;
  -moz-transition-property: bottom, top;
  -webkit-transition-property: bottom, top;
  transition-property: bottom, top;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes entrees_contenu {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

#plats {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: plats;
  -webkit-animation-name: plats;
  animation-name: plats;
  -moz-transition-property: bottom, top;
  -webkit-transition-property: bottom, top;
  transition-property: bottom, top;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
@keyframes plats {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

.plats {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: plats_contenu;
  -webkit-animation-name: plats-contenu;
  animation-name: plats_contenu;
  -moz-transition-property: bottom, top;
  -webkit-transition-property: bottom, top;
  transition-property: bottom, top;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
@keyframes plats_contenu {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

#desserts {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: desserts;
  -webkit-animation-name: desserts;
  animation-name: desserts;
  -moz-transition-property: bottom, top;
  -webkit-transition-property: bottom, top;
  transition-property: bottom, top;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-delay: 4s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
@keyframes desserts {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

.desserts {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-name: desserts_contenu;
  -webkit-animation-name: desserts_contenu;
  animation-name: desserts_contenu;
  -moz-transition-property: bottom, top;
  -webkit-transition-property: bottom, top;
  transition-property: bottom, top;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
@keyframes desserts_contenu {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  #entrees {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: entrees;
    -webkit-animation-name: entrees;
    animation-name: entrees;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @keyframes entrees {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  .entrees {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: entrees_contenu;
    -webkit-animation-name: entrees_contenu;
    animation-name: entrees_contenu;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  @keyframes entrees_contenu {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  #plats {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: plats;
    -webkit-animation-name: plats;
    animation-name: plats;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  @keyframes plats {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  .plats {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: plats_contenu;
    -webkit-animation-name: plats-contenu;
    animation-name: plats_contenu;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  @keyframes plats_contenu {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  #desserts {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: desserts;
    -webkit-animation-name: desserts;
    animation-name: desserts;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 8s;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
  }
  @keyframes desserts {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  .desserts {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: desserts_contenu;
    -webkit-animation-name: desserts_contenu;
    animation-name: desserts_contenu;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 9s;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
  }
  @keyframes desserts_contenu {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }
}
@media (max-width: 767px) {
  #entrees {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: entrees;
    -webkit-animation-name: entrees;
    animation-name: entrees;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @keyframes entrees {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  .entrees {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: entrees_contenu;
    -webkit-animation-name: entrees_contenu;
    animation-name: entrees_contenu;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  @keyframes entrees_contenu {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  #plats {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: plats;
    -webkit-animation-name: plats;
    animation-name: plats;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  @keyframes plats {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  .plats {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: plats_contenu;
    -webkit-animation-name: plats-contenu;
    animation-name: plats_contenu;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  @keyframes plats_contenu {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  #desserts {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: desserts;
    -webkit-animation-name: desserts;
    animation-name: desserts;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 8s;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
  }
  @keyframes desserts {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }

  .desserts {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -moz-animation-name: desserts_contenu;
    -webkit-animation-name: desserts_contenu;
    animation-name: desserts_contenu;
    -moz-transition-property: bottom, top;
    -webkit-transition-property: bottom, top;
    transition-property: bottom, top;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-delay: 9s;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
  }
  @keyframes desserts_contenu {
    from {
      margin-top: 100%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }
}

/*# sourceMappingURL=menu.css.map */
